<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="https://www.linkedin.com/in/scott-pigeon-b767514/">LinkedIn</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="content">

			{{ content }}

    		</div><!-- /.content -->
		</div><!-- /.container -->

		<footer>
    		<ul>
        		<li><a href="mailto:sjpigeon@msn.com">email</a></li>
			</ul>
		</footer>
	</body>

</html>