	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://sjpigeon.github.io/Product-Management/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			<li><a href="https://www.linkedin.com/in/scott-pigeon-b767514/">www.linkedin.com</a></li>
					<li><a href="mailto:sjpigeon@msn.com">email</a></li>
	        			<li><a href="https://github.com/sjpigeon">github.com/sjpigeon</a></li>
				</ul>
			</footer>
		</body>
	</html>
